<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2000000000"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2000000000" maxReceivedMessageSize="2000000000" name="default"/>
      </basicHttpBinding>
    </bindings>
		<services>
			<service name="VideoPlayerTelemetry.Service.Impl.DataService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="default" contract="VideoPlayerTelemetry.Service.IDataService">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
	<system.web>
    
		<compilation debug="true"/></system.web></configuration>
