<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="IndoorWorx"
      connectionString="Data Source=.;Initial Catalog=IndoorWorx;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="IndoorWorx"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IndoorWorx;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="IndoorWorx"
      connectionString="Data Source=tcp:sql2k804.discountasp.net;Initial Catalog=SQL2008R2_751055_indoorworx;User ID=SQL2008R2_751055_indoorworx_user;Password=CerveloP2C;"
      providerName="System.Data.SqlClient" />-->
    <add name="IndoorWorx" connectionString="Data Source=.;Initial Catalog=IndoorWorx;User ID=indoorworx;Password=p@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>