<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IndoorWorx"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IndoorWorx;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>